ion-title{
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 1.6em;
}

.logo{
    font-size: 2em;
}

ion-list{
    height: 100%;
}

ion-label{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}